table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

.look_for_papers_container {
  width: 45%;
  overflow: scroll;
}

.look_for_paper_lists {
  padding: 20px;
}

.form-container-look_for_paper {
  width: 30%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  padding: 50px;
}

.form-sub-container {
  width: 70%;
}