header {
  height: 75px;
  width: 100vw;
  background-color: lightskyblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo, .action-button {
  font-weight: 600;
  font: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: black;
}

.action-button {
  background-color: lightgray;
  margin-right: 10px;
}