.form-container {
  width: 85%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  overflow: scroll;
  padding: 50px;
}

.form-sub-container {
  width: 70%;
}

.form-label {
  font-weight: 600;
}

.form {
  width: 100%;
  margin: 5px 0 10px 0;
}

.form-submit {
  width: 30%;
}

.submit-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-button {
  font-weight: 500;
  font: bold;
  padding: 1px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: lightgray;
  border: solid 1px black;
  font-family: inherit;
  font-weight: inherit;
  font-size: 95%;
  width: 30%;
  border-radius: 5%;
}