.container {
  height: calc(100vh - 75px - 50px);
  display: flex;
}

.index-container {
  width: 85%;
  height: calc(100% - 100px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.rallies-index {
  width: 80%;
}

.rallies {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 20px;
}

.rally_item {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
  padding: 5px 0 10px 0;
}

.comments-container {
  background-color: lightgrey;
  margin-bottom: 20px;
  padding: 20px;
}

.comments-list {
  font-weight: 600;
  padding-bottom: 20px;
}

.comment-items {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.comment-content {
  font-size: 18px;
}