.container {
  height: calc(100vh - 75px - 50px);
  display: flex;
}

.side-bar {
  width: 15%;
  height: 100%;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
}

.menu-items {
  width: 100%;
  padding: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

.index-container {
  width: 85%;
  height: calc(100% - 100px);
  padding: 50px 0;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.rallies-index {
  width: 80%;
}

.rallies {
  background-color: lightgray;
  padding: 20px;
  margin-bottom: 50px;
}

.rally_item {
  font-size: 18px;
  font-weight: 600;
  text-decoration: underline;
  font-style: italic;
  padding: 5px 0 10px 0;
}