<div class="side-bar">
  <ul>
    <li class="menu-items">
      <%= link_to "マイページ", user_path(@user), class: "menu-items" %>
    </li>
    <li class="menu-items">
      <%= link_to "探したい論文", look_for_paper_path(@user), class: "menu-items" %>
    </li>
    <li class="menu-items">
      <%= link_to "ランキング", "#", class: "menu-items" %>
    </li>
  </ul>
</div>