<div class="side-bar">
  <ul>
    <li class="menu-items">
      <%= link_to "マイページ", user_path(@user), class: "menu-items" %>
    </li>
    <li class="menu-items">
      <%= link_to "探したい論文", look_for_paper_path(@user), class: "menu-items" %>
    </li>
    <li class="menu-items">
      <%= link_to "論文ストック", paper_stock_path(@user), class: "menu-items" %>
    </li>
    <li class="menu-items">
      <%= link_to "投稿する", rally_lists_rallies_path(@user), class: "menu-items" %>
    </li>
  </ul>
</div>